Print("Press 1 to Add, 2 to minus, 3 to Multiply, 4 to Divide")
Choice = int(input("Enter Choice:)

if Choice == 1:
  Ron = int(input("Enter Value 1:)
  Ran = int(input("Enter Value 2:)
  Pop = Ron + Ran
  print(Pop)
elif Choice == 2:
  Rone= int(input("Enter Value 1:)
  Rane= int(input("Enter Value 2:)
  Op = Rone - Rane
  print("Op")
elif Choice == 3:
  Roned=int(input("Enter Value 1:))
  Raned=int(input("Enter Value 2:))
  Rop = Roned * Raned
  print("Rop")
elif Choice == 4:
  Ronnd=int(input("Enter Value 1:))
  Rannd=int(input("Enter Value 2:))
  fop = Ronnd / Rannd
  print("fop")
